:root {
    --primary-color: #2a0834;
    --secondary-color: #66196b;
    --danger-color: #ef4444;
    --success-color: #22c55e;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ceb3c4, #c497ab);
    padding: 30px;
}

/* العنوان */
h1 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 40px;
}

/* الفورم */
form {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    background: rgb(159, 115, 156);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #8e5880;
    min-width: 150px;
}

input:focus {
    border-color: var(--secondary-color);
    outline: none;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

/* زر الإضافة */
button[type="submit"] {
    background-color: var(--secondary-color);
}

/* الأزرار */
button.edit {
    background-color: var(--success-color);
}

button.delete {
    background-color: var(--danger-color);
}

/* الكروت */
.rooms-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.card {
    background: rgb(232, 212, 224);
    padding: 20px;
    width: 250px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    margin-bottom: 10px;
    color: var(--primary-color);
}

.actions {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

/* badges */
.badge {
    background-color: var(--secondary-color);
    color: rgb(35, 14, 29);
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 12px;
    margin-right: 5px;
}